UnitsB.bmp
updateDocs.sh
*.swp
*.SAV
.vscode
rules_lst.txt
RulesDifferent.txt
RulesSame.txt
Report.txt
testingSave.sav
testing.ods
schismTest.sav
Rules.txt
Ca_Auto.SAV
Ca_Auto2.SAV
Game.txt
describe.txt
macrotest.scn
civpathfinding.lua
ca_a1743.scn
ca_a1743.sav
markerTest.sav
openGvim.sh
radarTest.sav
radarTest2.sav
Scripts/testInternationalText.lua
console.history
unitDataTestingSuite.lua
_recentFeature1.lua
*.sav
LuaCore/_changeRules.lua
LuaCore/_leaderBonus.lua
NotUsed/*
Units.bmp
UnitsA.bmp
